# Dependencies and Package Management
/node_modules
.venv/
__pycache__/


# Logs and Temporary Files
*.log
*.tmp
*.bak
log/
tmp/
*.pt

# Build and Distribution Artifacts
/dist
/build
*.o
*.obj
*.exe
*.dll

data/
wandb/data/raw/NF-UNSW-NB15-v2.csv
